<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles.css">
        <title>Electrona antarctica</title>
    </head>

    <body>
        <!-- Header / Naviagtion Section -->
        <header>
            <div class="headerContainer">
                <h1>Antarctic Lanternfish</h1>
                <nav>
                    <div class="menubtn" onclick="toggleMenu()">
                        <img src="../images/menubtn.svg" alt="Menu Button">
                    </div>
                    <ul id="menu" class="menucontents">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./page1.html">Giant Moray Eel</a></li>
                        <li><a href="./page2.html">Leafy Seadragon</a></li>
                        <li><a href="./page3.html">Peacock Mantis Shrimp</a></li>
                        <li><a href="./page4.html">Antarctic Lanternfish</a></li>
                        <li><a href="./page5.html">Common Octopus</a></li>
                        <li><a href="./sources.html">Sources</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Content Section -->
       <section>
            <div class="contentContainer">
                <div class="info-box">
                    <h3>About</h3>
                    <p>
                        The Antarctic lanternfish (<em>Electrona antarctica</em>) is a species of lanternfish in the family <em>Myctophidae</em>.
                        Lanternfish are small, bioluminescent fish found throughout the world's oceans, with over 240 species.
                        Although small, typically 2-30 cm (1-12 in) in length, lanternfish are among the most abundant vertebrates on Earth.
                        They are an important food source for larger animals such as squid, penguins, seals, and whales.
                    </p>
                    <p>
                        Like other lanternfish, <em>Electrona antarctica</em> are capable of bioluminescence through rows of light-producing organs called photophores along its body.
                        These photophores are used for counter-illumination, a camouflage technique where the fish matches the faint light from above to avoid detection by predators from below.
                        They may also are believed to serve roles in communication and schooling behavior.
                    </p>
                    <p>
                        The Antarctic lanternfish is found in the Southern Ocean, where it dominates the midwater fish community and is considered one of the most abundant fish species in Antarctic waters.
                        Adults usually measure around 10-12 cm (4-5 in) in length and undergo daily vertical migrations, where they remain in deeper waters during the day to avoid predators and ascend toward the surface at night to feed on plankton, mainly krill.
                    </p>
                </div>
                <div class="stackedImages">
                    <img src="../images/lanternfish_1.jpg" alt="Antarctic Lanternfish Picture">
                    <img src="../images/lanternfish_2.jpg" alt="Bioluminescence Lanternfish Picture">
                </div>
            </div>
        </section>

        <footer>
            <p>INFSCI1570 - Assignment 1</p>
        </footer>

        <script src="../static/main.js"></script>
    </body>
</html>