<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles.css">
        <title>Odontodactylus scyllarus</title>
    </head>

    <body>
        <!-- Header / Naviagtion Section -->
        <header>
            <div class="headerContainer">
                <h1>Peacock Mantis Shrimp</h1>
                <nav>
                    <div class="menubtn" onclick="toggleMenu()">
                        <img src="../images/menubtn.svg" alt="Menu Button">
                    </div>
                    <ul id="menu" class="menucontents">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./page1.html">Giant Moray Eel</a></li>
                        <li><a href="./page2.html">Leafy Seadragon</a></li>
                        <li><a href="./page3.html">Peacock Mantis Shrimp</a></li>
                        <li><a href="./page4.html">Antarctic Lanternfish</a></li>
                        <li><a href="./page5.html">Common Octopus</a></li>
                        <li><a href="./sources.html">Sources</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Content Section -->
        <section>
            <div class="contentContainer">
                <div class="info-box">
                    <h3>About</h3>
                    <p>
                        The peacock mantis shrimp (<em>Odontodactylus scyllarus</em>) is a member of the mantis shrimp family, named for its bright shell colors of green, blue, and orange.
                        It is found throughout the Indo-Pacific, inhabiting sandy and rubble bottoms near coral reefs, where it builds burrows for shelter.
                        Adults typically grow up to 18 cm (7 in) in length, making them one of the larger stomatopod (Other mantis shrimp) species.
                    </p>
                    <p>
                        Peacock mantis shrimps are “smashers,” equipped with club-like appendages capable of striking prey with incredible speed and force.
                        Their strikes are so powerful that they can break open the shells of crabs, clams, and snails.
                        When striking, the acceleration of the club/claw also produces bubbles that collapse with additional force, delivering a second impact strong enough to stun or kill prey.
                    </p>
                    <p>
                        Along with their formidable strength, peacock mantis shrimps are known for having one of the most advanced visual systems in the animal kingdom.
                        Each eye is able to move independently and can detect polarized and ultraviolet light as well as a wide spectrum of colors thanks to up to 12 different types of photoreceptor cells.
                        This remarkable vision helps them navigate complex reef environments and identify prey and rivals.
                    </p>
                </div>
                <div class="stackedImages">
                    <img src="../images/mantisshrimp_1.jpg" alt="Antarctic Lanternfish Picture">
                    <img src="../images/mantisshrimp_2.jpg" alt="Bioluminescence Lanternfish Picture">
                </div>
            </div>
        </section>

        <footer>
            <p>INFSCI1570 - Assignment 1</p>
        </footer>

        <script src="../static/main.js"></script>
    </body>
</html>