<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles.css">
        <title>Octopus vulgaris</title>
    </head>

    <body>
        <!-- Header / Naviagtion Section -->
        <header>
            <div class="headerContainer">
                <h1>Common Octopus</h1>
                <nav>
                    <div class="menubtn" onclick="toggleMenu()">
                        <img src="../images/menubtn.svg" alt="Menu Button">
                    </div>
                    <ul id="menu" class="menucontents">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./page1.html">Giant Moray Eel</a></li>
                        <li><a href="./page2.html">Leafy Seadragon</a></li>
                        <li><a href="./page3.html">Peacock Mantis Shrimp</a></li>
                        <li><a href="./page4.html">Antarctic Lanternfish</a></li>
                        <li><a href="./page5.html">Common Octopus</a></li>
                        <li><a href="./sources.html">Sources</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Content Section -->
        <section>
            <div class="contentContainer">
                <div class="info-box">
                    <h3>About</h3>
                    <p>
                        The common octopus (<em>Octopus vulgaris</em>) is one of the most widespread and well-known species of octopus.
                        It is found in temperate and tropical waters worldwide, where they typically inhabits rocky seafloors, coral reefs, and seagrass beds.
                        Adults generally reach 25-50 cm (10-20 in) in mantle length, the mantle being the main body of the octopus, housing its vital organs. 
                        Their arms can span up to 1 meter (3 ft), though size can vary depending on habitat and region.
                    </p>
                    <p>
                        Common octopuses are renowned for their intelligence and adaptability.
                        They are problem-solvers capable of opening jars, manipulating objects, and navigating mazes in laboratory settings.
                        In the wild, they use tools such as shells or rocks for protection and to crack open the shells of their prey.
                        They are also masters of camouflage, able to rapidly change their skin color and texture using specialized cells called chromatophores, iridophores, and papillae.
                        They are nocturnal predators, feeding primarily on crustaceans, mollusks, and fish, which they capture with their strong arms and beak-like mouth.
                    </p>
                    <p>
                        The life cycle of the common octopus is relatively short, usually one to two years.
                        After mating, females lay thousands of eggs in clusters and devote themselves entirely to guarding and tending them.
                        During this period, females do not feed, and die shortly after their eggs hatch.
                    </p>
                </div>
                <div class="stackedImages">
                    <img src="../images/commonoctopus_1.jpg" alt="Antarctic Lanternfish Picture">
                    <img src="../images/commonoctopus_2.jpg" alt="Bioluminescence Lanternfish Picture">
                </div>
            </div>
        </section>

        <footer>
            <p>INFSCI1570 - Assignment 1</p>
        </footer>

        <script src="../static/main.js"></script>
    </body>
</html>