<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles.css">
        <title>Sources</title>
    </head>

    <body>
        <!-- Header / Naviagtion Section -->
        <header>
            <div class="headerContainer">
                <h1>Citations & References</h1>
                <nav>
                    <div class="menubtn" onclick="toggleMenu()">
                        <img src="../images/menubtn.svg" alt="Menu Button">
                    </div>
                    <ul id="menu" class="menucontents">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./page1.html">Giant Moray Eel</a></li>
                        <li><a href="./page2.html">Leafy Seadragon</a></li>
                        <li><a href="./page3.html">Peacock Mantis Shrimp</a></li>
                        <li><a href="./page4.html">Antarctic Lanternfish</a></li>
                        <li><a href="./page5.html">Common Octopus</a></li>
                        <li><a href="./sources.html">Sources</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Content Section -->
        <section>
            <div>
                <table>
                    <tr>
                        <th>Topic</th>
                        <th>Sources</th>
                    </tr>
                    <tr>
                        <td>Giant Moray Eel</td>
                        <td>
                            <ol>
                                <li>Wonders of Wildlife. (2024, October 4). Giant Moray Eel | Wonders of Wildlife. Wonders of Wildlife. https://wondersofwildlife.org/animals/giant-moray-eel/</li>
                                <li>Wikipedia Contributors. (2019, April 22). Giant moray. Wikipedia; Wikimedia Foundation. https://en.wikipedia.org/wiki/Giant_moray</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>Leafy Seadragon</td>
                        <td>
                            <ol>
                                <li>Leafy Seadragon Facts - Fact Animal. (2025). Fact Animal. https://factanimal.com/leafy-seadragon/</li>
                                <li>Leafy Sea Dragons ~ MarineBio Conservation Society. (2017). Marinebio. https://www.marinebio.org/species/leafy-sea-dragons/phycodurus-eques/</li>
                                <li>Wikipedia Contributors. (2018, November 18). Leafy seadragon. Wikipedia; Wikimedia Foundation. https://en.wikipedia.org/wiki/Leafy_seadragon</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>Peacock Mantis Shrimp</td>
                        <td>
                            <ol>
                                <li>National Aquarium. (2020, November 17). National Aquarium - Baltimore, MD. Aqua.org. https://aqua.org/explore/animals/peacock-mantis-shrimp</li>
                                <li>Peacock Mantis Shrimp. (n.d.). Georgia Aquarium. https://www.georgiaaquarium.org/animal/peacock-mantis-shrimp/</li>
                                <li>Wikipedia Contributors. (2019, March 26). Odontodactylus scyllarus. Wikipedia; Wikimedia Foundation. https://en.wikipedia.org/wiki/Odontodactylus_scyllarus</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>Antarctic Lanternfish</td>
                        <td>
                            <ol>
                                <li>Antarctic lanternfish (Electrona antarctica) - Marine Life Identification. (2024, September 9). Marine Life ID. https://www.marinelifeid.com/identification/antarctic-lanternfish-electrona-antarctica/</li>
                                <li>Wikipedia Contributors. (2024, December 10). Electrona antarctica. Wikipedia; Wikimedia Foundation. https://en.wikipedia.org/wiki/Electrona_antarctica</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>Common Octopus</td>
                        <td>
                            <ol>
                                <li>Common Octopuses ~ MarineBio Conservation Society. (2017). MarineBio. https://www.marinebio.org/species/common-octopuses/octopus-vulgaris/</li>
                                <li>Common octopus. (2020, March 31). Wikipedia. https://en.wikipedia.org/wiki/Common_octopus</li>
                            </ol>
                        </td>
                    </tr>
                </table>
            </div>
        </section>

        <footer>
            <p>INFSCI1570 - Assignment 1</p>
        </footer>

        <script src="../static/main.js"></script>
    </body>
</html>